    <head>
        <!-- Title -->
        <title>Boss - Professional Bootstrap Template</title>
        <!-- Meta -->
       
        <!-- Google Fonts-->
      
      

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$(document).ready(function() {
    $('#example').DataTable();
} );</script>




       
    </head> <body>


        
        <!-- End Header -->
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
           
                {{ knp_menu_render('GtItBundle:Builder:mainMenu') }}
                    <!-- Main Column -->
                    {% block body %}{% endblock %}       
        </div>       
        </div>       
        </div>       
        </div>
        <script src="{{asset('bundles/gtit/ckeditor/ckeditor.js')}}"></script>